.container1{
    background-color: #052c65;
    padding: 5px;
}
.icon{
    padding: 10px;
    border-radius: 13px;
    border: none;
    color: white;
    background-color: #6f42c1;
}
footer{
    background-color: #353fc0;
}
.navbar-toggler{
    color: white;
    background-color: white;
}
.navbar{
    background-color: #052c65;
    padding: 10px;
}
ul{
    margin-left: 10px;
}
.input {
    background-color: black;
    border: none;
    margin-top: 8px;
    width: 100%;
    padding: 5px;
}
.input1 {
    background-color: black;
    border: none;
    margin-top: 8px;
    width: 100%;
    padding: 5px;
    font-weight: bolder;
}
.icon1{
    padding: 10px;
    border-radius: 13px;
    border: none;
    color: white;
    background-color: #6f42c1;
    margin-right: 10px;
}
button.btn1 {
    width: 80%;
    background-color: #353fc0;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
div.card1{
    background-color: #052c65;
    border: 2px solid #353fc0;
    box-shadow: 5px 5px #353fc0;
}